.ui-dialog {
  z-index: 1030 !important;
}
.ui-slider-range {
  background: $brand-primary !important;
}
.navbar-brand {
  width: 250px;
}
.filters {
  padding: 10px 0;
}
.age-range {
  display: inline-block;
  width: 180px;
  margin: 0 8px;
}
.filter-region {
  width: 160px;
}
.filter-target {
  width: 130px;
}
.profile-description {
  resize: vertical;
}
.top-buffer {
  margin-top: 10px;
}
.top-buffer-20 {
  margin-top: 20px;
}
.age-handle {
  width: 3em !important;
  height: 1.6em !important;
  top: 50% !important;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
.age-handle.ui-state-default,
.age-handle.ui-state-active,
.age-handle.ui-state-focus {
  border: 1px solid #003eff !important;
  background: #007fff !important;
  font-weight: normal !important;
  color: #ffffff !important;
}
.white {
  color: #ffffff;
}
.thumbnail {
  width: 220px;
  height: 170px;
}
.fileinput-new {
  .thumbnail.male {
    background: url('../images/avatar_male.png') no-repeat center center #fff;
  }
  .thumbnail.female {
    background: url('../images/avatar_female.png') no-repeat center center #fff;
  }
}
.user {
}
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active { color: #ffffff !important; }