// Odstępy na pasek z góry
body {
  background-color: #F2F2F2;
}

#wrapper {
  padding-left: 281px;

  #page-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

.side-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 281px;
  background-color: $gray-darker;
}

@media(max-width:($screen-md + 1)) {
  #wrapper {
    padding-left: 0px;
  }
  .side-nav {
    width: 100%;
    z-index: 10000;
  }
  .navbar-brand {
    width: 240px !important;
  }
  .filters > div, .filters > div input,.filters > div button, .filters > span, .btn-sm, .btn-group-sm > .btn {
    width: 100% !important;
    float: none !important;
  }
  .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center !important;
  }
  .age-range {
    width: 70% !important;
  }
}