// Odstępy na pasek z góry
body {
  margin-top: 95px;
}

@media(min-width:1390px) {
  body {
    margin-top: 60px;
  }
}

#wrapper {
  padding-left: 250px;

  #page-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

.side-nav {
  position: fixed;
  top: 80px;
  left: 250px;
  width: 250px;
  margin-left: -250px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: $gray-darker;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 20px;
}

@media(min-width:1390px) {
  .side-nav {
    position: fixed;
    top: 50px;
  }
}